<section id="event" class ="container-fluid">

  <div class="row">
    <div class="col-sm-9">
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>

    </div>
    <div class="col-sm-3 ">
          <div class="well">
              <%= event_time_tag(@event) %>
          </div>
          <div class="well">
              <h2>Attendees</h2>
              <%= simple_form_for [@event,@new_rsvp] do |f| %>
                <%= f.input:email, label:false , placeholder: "Enter your email" %>
                <%= f.submit:'I want to Attend', class:"btn btn-sm btn-primary btn-block"%>
              <%end%>
              <ul>
              <%= render @rsvps %>
              </ul>
          </div>
    </div>
  </div>

</section>
